---
comments: true
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% if page.coding %}
			<link rel="stylesheet" href="/code.css">
		{% endif %}
		
		{% include common_head.html %}
		{% seo %}
		<meta name="keywords" content= "{{ layout.meta }}" />
	</head>

	<body>
		<div class="container-fluid">
			<div class="row" id="topBar">
				{% include common_menu.html %}
			</div>
			<div class="row" id="content">
				<div class="col-lg-8 col-lg-push-2   col-md-7 col-md-push-2" id="writing">
					{{ content }}
					
					{% if layout.social %}
						{% include share_bar.html %}
						{% include disqus.html %}
					{% endif %}
					
					{% include gSearchResult.html %}
				</div>
				<div class="col-lg-2 col-lg-push-2   col-md-3 col-md-push-2" id="rightPanel">
					<div class="col-lg-2 col-md-3" id="innerRightPanel">
						
					</div>
				</div>
				<div class="col-lg-2 col-lg-pull-10   col-md-2 col-md-pull-10" id="leftPanel">
					<div class="col-lg-2 col-md-2" id="innerLeftPanel">
						{% include {{ layout.toc }} %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
