---
permalink: common.css
---

body {
	font-family: Lato, sans-serif; //Arial,Helvetica Neue,Helvetica,sans-serif;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

#content {
	margin-top: 50px;
}

#leftPanel {
	font-size: 16px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		
		a {
			display: block;
			padding: 10px;
			width: 100%;
			
			&:hover {
				text-decoration: none;
				background-color: #FFFBBA;///////////////////////
			}
		}
	}
	
	z-index: 1000;
}

#writing {
	font-size: 18px;
	font-weight: 560;
	line-height: 1.7;
	
	h1,h2,h3,h4 {
		color:green;
	}
	
	padding: {
		left: 50px;
		right: 50px;
	}
}

img {
	max-width: 100%;
	height: auto;
	padding: {
		top: 5px;
		bottom: 5px;
	}
	
	display: block;
	margin: auto;
}

/***** css for large devices ******/
@media screen and (min-width: 769px) {
	#innerTopPanel {
		//position: fixed;
		//top: 0;
	}
	
	#innerLeftPanel {
		position: fixed;
		max-height: calc(100vh - 50px);
		overflow-y: auto;
	}

	#innerRightPanel {
		position: fixed;
		max-height: calc(100vh - 50px);
		overflow-y: auto;
	}
}

/***** css for small devices ******/
@media screen and (max-width: 768px) {
	#leftPanel {
		text-align: center;
		max-height: 100%;
		ul {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}
	}

    #contentPanel {
        max-height: 100%;
    }
    
    #writing {
    	padding: {
    		left: 0;
    		right: 0;
    	}
    }
}

/**** share bar *****/
#share-bar {
	text-align: center;

	a {
		&:hover {
			text-decoration: none;
		}
	}
	
	img {
		padding-bottom: 5px;
		display: inline;
	}
}

