body {
  font-family: Lato, sans-serif; }

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  /*
  .dropdown-menu {
  	width: 250px;
  }
  */ }

#content {
  margin-top: 50px; }

#leftPanel {
  padding-left: 0;
  padding-right: 0; }

#innerLeftPanel {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px; }
  #innerLeftPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    width: 100%; }
    #innerLeftPanel ul a {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px; }
      #innerLeftPanel ul a:hover {
        text-decoration: none;
        background-color: #FFFBBA; }

#rightPanel {
  padding-left: 0;
  padding-right: 0; }

#writing {
  font-size: 18px;
  line-height: 1.7; }
  #writing h1, #writing h2, #writing h3, #writing h4, #writing h5, #writing h6 {
    color: green; }
  #writing p {
    margin-bottom: 1.2em; }

.pic {
  max-width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  margin: auto; }

.picwrapper {
  width: 100%;
  text-align: center; }
  .picwrapper figure {
    display: inline-block; }

.caption {
  font-size: 80%;
  text-align: center; }

/***** css for large devices ******/
@media screen and (min-width: 993px) {
  #innerLeftPanel {
    position: fixed;
    max-height: calc(100vh - 50px);
    overflow-y: auto; }

  #writing {
    padding-left: 40px;
    padding-right: 40px; }

  #innerRightPanel {
    position: fixed;
    max-height: calc(100vh - 50px);
    overflow-y: auto; } }
/***** css for tabs ******/
@media screen and (max-width: 992px) {
  #leftPanel {
    text-align: center;
    max-height: 100%; }

  #writing {
    padding-left: 30px;
    padding-right: 30px; } }
/***** css for mobiles ******/
@media screen and (max-width: 480px) {
  #leftPanel {
    text-align: center;
    max-height: 100%; }

  #writing {
    padding-left: 15px;
    padding-right: 15px; } }
/**** share bar *****/
#share-bar {
  text-align: center; }
  #share-bar a:hover {
    text-decoration: none; }
  #share-bar img {
    padding-bottom: 5px; }
