<ul>
	<li><a href="/fun-codes/">Introduction</a></li>
	<!--<li><a href="chitchat.html">Simple chat program</a></li>-->
	<!--<li><a href="numberical-analysis.html">Numerical analysis</a></li>-->
	<li><a href="image-clustering">Image clustering</a></li>
	<li><a href="dp-drawing">Drawing with design patterns</a></li>
	<!--<li><a href="8-puzzle.html">8 puzzle solver</a></li>-->
	<!--<li><a href="tictactoe.html">Tic tac toe solver</a></li>-->
	<!--<li><a href="ping.html">Learn ping</a></li>-->
	<!--<li><a href="traceroute.html">Learn traceroute</a></li>-->
</ul>
