<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><b>RA</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/profile/index.html">Personal info</a></li>
        <li><a href="/profile/education.html">Education & work experience</a></li>
        <li><a href="/profile/geeky.html">Geeky me</a></li>
        <li><a href="/profile/musician.html">Musician me</a></li>
        <li><a href="/profile/fighter.html">Fighter me</a></li>
        <li><a href="/profile/writer.html">Writer me</a></li>
        <li><a href="/profile/contact.html">Contact me</a></li>
      </ul>
    </div>
  </div>
</nav>
