<div id="share-bar">
	<br>
	<p><i>Sharing is caring!</i></p>
	
	<div class="share-buttons">
	    <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        onclick="socialMediaPopUp(this.href, '', 500, 500); return false;"
	        title="Share on Facebook">
	        <img src="/img/icons/45px/facebook.png">
	    </a>

	    <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        onclick="socialMediaPopUp(this.href, '', 500, 500); return false;"
	        title="Share on Twitter" >
	        <img src="/img/icons/45px/twitter.png">
	    </a>

	    <a  href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        onclick="socialMediaPopUp(this.href, '', 500, 500); return false;"
	        title="Share on Google+" >
	        <img src="/img/icons/45px/googleplus.png">
	    </a>

	    <a  href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        onclick="socialMediaPopUp(this.href, '', 900, 500); return false;"
	        title="Share on Pinterest" >
	        <img src="/img/icons/45px/pinterest.png">
	    </a>

	    <a  href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        onclick="socialMediaPopUp(this.href, '', 900, 500); return false;"
	        title="Share on Tumblr" >
	        <img src="/img/icons/45px/tumblr.png">
	    </a>

	    <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        onclick="socialMediaPopUp(this.href, '', 900, 500); return false;"
	        title="Share on Reddit" >
	        <img src="/img/icons/45px/reddit.png">
	    </a>

	    <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source=rafed123.github.io"
	        onclick="socialMediaPopUp(this.href, '', 900, 500); return false;"
	        title="Share on LinkedIn" >
	        <img src="/img/icons/45px/linkedin.png">
	    </a>

	    <a  href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        title="Share via Email" >
	        <img src="/img/icons/45px/mail.png">
	    </a>
	</div>
	<br>
	<br>
</div>


