---
permalink: common.css
---

body {
	font-family: Lato, sans-serif; //Arial,Helvetica Neue,Helvetica,sans-serif;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	
	/*
	.dropdown-menu {
		width: 250px;
	}
	*/
}

#content {
	margin-top: 50px;
}

#leftPanel {
	// this is just a holder for inner fixed div
	// remove all padding
	padding:{
		left: 0;
		right: 0;
	}
}

#innerLeftPanel {
	// remove all padding
	padding: {
		left: 0;
		right: 0;
	}
	
	font-size: 16px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0px;
		overflow: hidden;
		width: 100%;
		
		a {
			display: block;
			padding: {
				top: 10px;
				bottom: 10px;
				left: 20px;
				right: 20px;
			}
			
			&:hover {
				text-decoration: none;
				background-color: #FFFBBA;
			}
		}
	}
}

#rightPanel {
	// remove all padding
	padding:{
		left: 0;
		right: 0;
	}
}

#writing {
	font-size: 18px;
	line-height: 1.7;
	
	h1,h2,h3,h4 {
		color:green;
	}
}

.pic {
	max-width: 100%;
	height: auto;
	padding: {
		top: 5px;
		bottom: 5px;
	}
	
	display: block;
	margin: auto;
}

/***** css for large devices ******/
$navbarHeight: 50px;
@media screen and (min-width: 993px) {
	#innerLeftPanel {
		position: fixed;
		max-height: calc(100vh - #{$navbarHeight});
		overflow-y: auto;
	}
	
	#writing {
		padding: {
			left: 40px;
			right: 40px;
		}
	}
	
	#innerRightPanel {
		position: fixed;
		max-height: calc(100vh - #{$navbarHeight});
		overflow-y: auto;
	}
}

/***** css for tabs ******/
@media screen and (max-width: 992px) {
	#leftPanel {
		text-align: center;
		max-height: 100%;
	}

    
    #writing {
    	padding: {
    		left: 30px;
    		right: 30px;
    	}
    }
}

/***** css for mobiles ******/
@media screen and (max-width: 480px) {
	#leftPanel {
		text-align: center;
		max-height: 100%;
	}
    
    #writing {
    	padding: {
    		left: 15px;
    		right: 15px;
    	}
    }
}

/**** share bar *****/
#share-bar {
	text-align: center;

	a {
		&:hover {
			text-decoration: none;
		}
	}
	
	img {
		padding-bottom: 5px;
	}
}

